.payment_table {
    text-align: center;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.payment_table td {
    vertical-align: top;
    width: 50%;
    padding: 2%;
}


.new_payment {
    text-align: center;
}